@use "../utils/variables" as v;
@use "../components/title";
@use "../components/slider";
@use "../components/card";
@use "../layout/main-footer";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: v.$background-color;
  padding-bottom: 3vh;
}


.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 22rem;
  padding: 0 5%;
  opacity: 0;
  background-color: v.$background-color;
  z-index: 2;


  animation: fade-in 1.5s forwards;

  @media (min-width: v.$breakpoint-small) {
    margin-top: 24rem;
  }

  @media (min-width: v.$breakpoint-medium) {
    margin-top: 32rem;
  }

  .description-container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: v.$background-color;

    width: 100%;
    border-top: 0.1rem solid v.$accent-color;

    padding-top: 1rem;

    @media (min-width: v.$breakpoint-xl) {
      padding: 2rem;
    }

    .description {
      font-size: .9rem;
      text-align: justify;
      column-gap: 20px;
      width: 80%;
      column-count: 1;
      padding: 10px;

      @media (min-width: v.$breakpoint-small) {
        font-size: 1.1rem;
      }

      @media (min-width: v.$breakpoint-large) {
        column-count: 2;
      }

      @media (min-width: v.$breakpoint-xl) {
        column-count: 3;
        font-size: 1.3rem;
      }
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    width: 90vw;

    margin-top: 8rem;

    &.featured {
      align-items: start;
    }

    &.future {
      align-items: end;
    }

    @media (min-width: v.$breakpoint-large) {

    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      border-bottom: 0.1rem solid v.$accent-color;

      @media (min-width: v.$breakpoint-large) {
        font-size: 4rem;
      }
    }

    .cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      height: 20rem;
      width: 100%;
      margin-top: 2rem;

      padding-bottom: 1rem;

      overflow-x: auto;
      overflow-y: hidden;

      @media (min-width: v.$breakpoint-small) {
        height: 30rem;
      }

      @media (min-width: v.$breakpoint-medium) {
        height: 39rem;
      }

      &::-webkit-scrollbar {
        height: 0.25rem;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: v.$accent-color;
        }
      }
    }
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: end;
  align-items: center;
  gap: 2rem;
  height: 2rem;

  a {
    display: flex;
    padding-top: .5rem;
    flex-direction: column;
    align-items: center;
    color: v.$text-color;
    font-size: 1.2rem;
    transition: all 0.15s ease-in;

    .bottom-border {
      display: block;
      margin-top: .2rem;
      height: 1px;
      width: 0;
      //opacity: 0;
      transition: 0.3s ease-in-out;
      border-bottom: 1px solid white;
    }

    &:hover {
      transform: translateY(-0.2rem);

      .bottom-border {
        //opacity: 1;
        width: 110%;
      }
    }
  }

  form > select {
    background-color: transparent;
    color: white;
    border: none;
    font-size: .9rem;
    padding: 0.5rem;
    border-bottom: 1px solid v.$text-color;
    transition: transform 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    option {
      background-color: v.$background-color;
      color: white;
    }
  }
}